@import "src/Global/SASS/variables";

.herBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  color: colors(white);
}

.title {
  font-size: 4rem;
  span {
    background-image: -webkit-linear-gradient(
      -60deg,
      #bb2cd9,
      #7cec9f,
      #ea7773,
      #e74292,
      #53e0bc,
      #e73c7e,
      #74b9ff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1000%;
    -webkit-animation: nameColor 10s infinite;
  }
}

.description {
  font-size: 3rem;
  margin-top: 3rem;
}

@keyframes nameColor {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
