@import "src/Global/SASS/variables";

.desktopNav {
  display: none;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;

  @include desktop-view {
    display: flex;
  }
}
