@import "src/Global/SASS/variables";

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.annotation {
  margin: 3rem 0;
  @include tab-view {
    margin: 5rem;
  }
}

.aboutSection {
  width: 80vw;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  @include tab-view {
    padding: 1rem 5rem;
  }
  @include desktop-view {
    padding: 1rem 10rem;
  }
}

.about {
  text-align: center;
  white-space: pre-line;
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 2rem;
  font-family: Roboto, sans-serif;
  color: #2c3335;
  @include tab-view {
    font-size: 1.2rem;
  }
}

.mobileHide {
  display: none;
  margin: 0;
  @include tab-view {
    display: inline-block;
  }
}
