@import "src/Global/SASS/variables";

.Skills {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.SkillsListContainer {
  max-width: 1000px;
  padding: 1rem;
  margin-top: 4rem;
  position: relative;
  background: colors(white);
  width: 90vw;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
  border: 1px solid black;
  @include tab-view {
    height: 400px;
    padding: 2rem;
  }
  @include desktop-view {
    height: 250px;
    padding: 2rem;
  }
}

.button {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
