@import "src/Global/SASS/variables";

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  @include tab-view {
    margin-top: 5rem;
  }
}

.annotation {
}

.description {
}

.projectsList {
}
