@import "src/Global/SASS/variables";

.buttons {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: white;
  color: black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  outline: none;
  &:hover {
    box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.7);
  }
}

.readMore {
  color: colors(blue);
  border: 5px solid colors(blue);
  transition: 0.2s;
  &:hover {
    background: colors(blue);
    color: white;
  }
}
