$colors-map: (
  blue: #6c63ff,
  deep-blue: #4834df,
  sky-blue: #67e6dc,
  light: #eaf0f1,
  grey: #dae0e2,
  red: #ea7773,
  dark: #616c6f,
  black: #000000,
  white: #ffffff
);

@function colors($color) {
  @return map-get($map: $colors-map, $key: $color);
}

@mixin desktop-view {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin tab-view {
  @media (min-width: 700px) {
    @content;
  }
}
