@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: #2c3335;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.parallax-inner {
  transform: translate3d(0%, 0%, 0px);
}
