@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap");

body {
  background: #2c3335;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
