@import "src/Global/SASS/variables";

.root {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 90vw;
  @include tab-view {
    width: 550px;
  }
  @include desktop-view {
    width: 650px;
  }
}

.input {
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0 1rem;
  outline: none;
  border: 1px solid #747474;
}

.textArea {
  height: 10rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: 1px solid #747474;
}

.button {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background: #6c63ff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  outline: none;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  }
}

.icon {
  width: 20px;
  height: 20px;
}
